* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
}

.sidebar {
    background-color: #1e4976;
    color: #fff;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sidebar .profile-pic img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
}

.contact-info, .skills, .education {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.skills ul {
    list-style-type: none;
    padding-left: 0;
}

.skills ul li, .education p {
    font-size: 0.9em;
    margin-bottom: 5px;
}

.content {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    width: 1920px;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 0px;
}

.header h1 {
    font-size: 1.8em;
    color:#1e4976;
}

.header h2 {
    font-size: 1.2em;
    color:#333;
}

.about, .experience {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about h2, .experience h2 {
    color: #1e4976;
    font-size: 1.4em;
}

.experience .job {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.experience .job h3 {
    color: #333;
    font-size: 1.1em;
}

.experience .job p {
    color: #666;
}
